@font-face {
    font-family: 'comfortaa';
    src: url('../assets/ttf/Comfortaa-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
.comfortaa{
    font-family: comfortaa;
}
.pure_comfortaa{
      font-family: comfortaa;
}
@media screen and (max-width: 990px){
    .comfortaa{
        font-family: 'comfortaa', comfortaa;
    }
}
.color{
    color:lavender;
}

.center-heading{
    text-align: center;
}